<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-top">
      <ul class="footer-list">
        <a href="index.html" class="logo" aria-label="link to home page"></a>
        <a
          href="#characters"
          class="character-link"
          aria-label="link to Characters"
          >Characters</a
        >
      </ul>

      <ul class="icons-list">
        <li>
          <a
            class="footer-icon-item-link"
            aria-label="Open facebook"
            href="https://www.facebook.com/"
            rel="noopener noreferer"
            target="_blank"
          >
            <svg class="footer-icon" width="22" height="22">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-icon-item-link"
            aria-label="Open instagram"
            href="https://www.instagram.com/"
            rel="noopener noreferer"
            target="_blank"
          >
            <svg class="footer-icon" width="22" height="22">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer-icon-item-link"
            aria-label="Open twitter"
            href="https://twitter.com/"
            rel="noopener noreferer"
            target="_blank"
            ><svg class="footer-icon" width="22" height="22">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="policy-div">
      <a href="#policy" class="policy-link" aria-label="link to Private Policy"
        >Privacy Policy Public Offering Agreement</a
      >
    </div>
  </div>
</footer>
