<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-top">
      <ul class="footer-list">
        <li>
          <a href="../index.html" class="logo" aria-label="link to home page">
            <img
              class="logo-img"
              src="./images/logo.svg"
              alt="logo"
              width="100px"
            />
          </a>
        </li>
        <li>
          <a
            href="#characters"
            class="character-link"
            aria-label="link to Characters"
            >Characters</a
          >
        </li>
        <ul class="icons-list">
          <li>
            <a
              class="footer-icon-item-link"
              aria-label="Open facebook"
              href="https://www.facebook.com/Marvel/"
              rel="noopener noreferer"
              target="_blank"
            >
              <svg class="footer-icon" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-icon-item-link"
              aria-label="Open instagram"
              href="https://www.instagram.com/marvel"
              rel="noopener noreferer"
              target="_blank"
            >
              <svg class="footer-icon" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-icon-item-link"
              aria-label="Open twitter"
              href="https://twitter.com/marvel"
              rel="noopener noreferer"
              target="_blank"
              ><svg class="footer-icon" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <a
      href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/"
      class="policy-link"
      aria-label="link to Private Policy"
      >Privacy Policy Public Offering Agreement</a
    >
  </div>
</footer>
