<header class="header">
  <div class="container header-items">

    <a href="../index.html"><img src="../images/symbol-defs.svg" alt="MAIN_LOGO" /></a>

<!--     <a href="../index.html"><img src="" alt="MAIN_LOGO" /></a> -->


    <form class="header-form" id="search-form">
      <button class="header-btn" type="submit">
        <svg class="header-icon" width="18px" height="18px">
          <use href="../images/icons.svg#search"></use>
        </svg>
      </button>
      <input
        type="query"
        name="searchQuery"
        class="header-input"
        placeholder="SEARCH"
        autocomplete="on"
      />
    </form>
  </div>
</header>
