<div class="hero-section">
  <div class="hero-section-text-card">
    <p class="text-card-subtitle">Web-based platform</p>
    <h1 class="text-card-title">Marvelous Adventures</h1>
    <p class="text-card-txt">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <button class="button" type="button">All Characters</button>
  </div>
  <div class="hero-section-image-card">
    <div class="container-main-card">
      <img
        class="image-card-main-img"
        src="#"
        alt="Black Panther"
        width="352"
        height="540"
        />  
    </div>
    <div class="container-secondary-card">
      <img
        class="image-card-secondary-img"
        src="#"
        alt="Black Panther"
        width="352"
        height="540"
      />
      <!-- <a href="" class="image-card-link"
        >arrow
        <svg class="arrow" width="32" height="32">
          <use href=""></use>
        </svg>
      </a> -->
      <span class="decorate-line"></span>
      <div class="image-card-character-description">
        <p class="image-card-title">Characters</p>
        <p class="image-card-txt">
            T’Challa is the king of the secretive and highly advanced African nation
            of Wakanda - as well as the powerful warrior known as the Black Panther.
        </p> 
      </div>
    </div>
  </div>
</div>
