<section class="random">
  <div class="container">
    <h2 class="random-text">Random characters</h2>
    <div class="form-random">
      <div class="random-info">
        <picture>
          <!-- <source
            srcset="../images/remove_img/ant_man1440.jpg"
            media="(min-width: 1440px)"
            width="496"
          />
          <source
            srcset="../images/remove_img/ant_man768.jpg"
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="../images/remove_img/ant_man335.jpg"
            media="(max-width: 768px)"
            width="335"
          /> -->
          <!-- ../images/remove_img/ant_man335.jpg -->
          <!-- <img
            class="random-img"
            src="./images/remove_img/ant_man335.jpg"
            alt="img"
            width="335"
            height="335"
            ;
          /> -->
          <div class="random-img random-bacground" data-id=""></div>
        </picture>
        <ul class="random-list list"></ul>
      </div>
      <!-- <button type="submit" class="allCharactersBtn">all Characters</button> -->

      <!-- <input
        type="button"
        class="allCharactersBtn"
        value="all Characters"
        onClick='location.href="../page-2.html"'
      /> -->
      <a href="./page-2.html" class="allCharactersBtn">all Characters</a>
    </div>
  </div>
</section>

<!-- //============================== -->
