<section class="section-filter">
  <div class="container filtrer-container">
    <form class="form">
      <div class="input-boxil">
        <label class="lable" for="comic">Comics</label>
        <input
          class="input-txt"
          type="text"
          id="comic"
          name="comic"

          placeholder="Enter ID"
        />

        <svg class="search-svg"><use href="../images/symbol-defs.svg#icon-search" width="15" heigth="15"></use></svg>

      </div>
      <div class="input-boxil">
        <label class="lable" for="name">Name Starts With</label>
        <input
          class="input-txt"
          type="text"
          id="name"
          name="name"
          placeholder="Enter Text"
        />

      </div>

      <div class="input-box">
        <div>
          <label class="lable" for="order">Order by</label>
          <select class="input-choose" type="select" id="order" name="order">
            <option>Name</option>
            <option>Modified</option>
            <option>-Name</option>
            <option>-Modified</option>
          </select>
        </div>
        <div>
          <label class="lable" for="date">Date</label>
          <input class="input-choose" type="date" id="date" name="date" />
        </div>
      </div>
    </form>

    <ul class="characters-list"></ul>

  </div>
</section>
