<section class="section-filter">
<div class="container filtrer-container">
    <form class="form">
        <div class="input-boxil"><label class="lable" for="comic">Comics</label>
        <input class="input-txt" type="text" id="comic" name="comic" placeholder="Enter Text"></div>
        <div class="input-boxil"><label class="lable" for="name">Name Starts With</label>
        <input class="input-txt" type="text" id="name" name="name" placeholder="Enter Text"></div>
        
        <div class="input-box">
       <div> <label class="lable" for="order">Order by</label>
        <input class="input-choose" type="text" id="order" name="order"></div>
       <div> <label class="lable" for="date">Date</label>
        <input class="input-choose" type="date" id="date" name="date"></div>
    </div>
    </form>
    <ul class="characters-list"></ul>
</div>
</section>