<section class="random">
  <div class="container">
    <h2 class="random-text">Random characters</h2>
    <div class="random-info">
      <picture>
        <source
          srcset="../images/remove_img/ant_man1440.jpg"
          media="(min-width: 1440px)"
          width="496"
        />
        <source
          srcset="../images/remove_img/ant_man768.jpg"
          media="(min-width: 768px)"
          width="704"
        />
        <source
          srcset="../images/remove_img/ant_man335.jpg"
          media="(max-width: 768px)"
          width="335"
        />

        <img
          class="random-img"
          src="../images/remove_img/ant_man335.jpg"
          alt="img"
          width="335"
        />
      </picture>
      <ul class="random-list list"></ul>
    </div>
    <button class="allCharactersBtn">all Characters</button>
  </div>
</section>
