<section class="section-filter">
  <div class="container filtrer-container">
    <form class="filter-form">
      <div class="filter-form-wrap">
        <div class="input-boxil">
          <label class="filter-form-lable" for="comic">Comics</label>
          <input class="input-txt" type="text" id="comic" name="comic" placeholder="Enter ID"/>
          <svg class="search-svg" width="18" height="18" fill="white">
            <use href="../images/symbol-defs.svg#icon-search"></use>
          </svg>
        </div>

        <div class="input-box">
          <label class="filter-form-lable" for="order">Order by</label>
          <select class="input-choose input-txt input-select" type="select" id="order" name="order">
            <option value="name" class="defolt-options">Name</option>
            <option value="modified" class="defolt-options">Modified</option>
          </select>
          <svg class="icon-arrow-down" width="18" height="18" fill="white">
            <use href="../images/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
          <div class="listbox visually-hidden"></div>
        </div>

        <div class="input-boxil">
          <label class="filter-form-lable" for="name">Name Starts With</label>
          <input class="input-txt" type="text" id="name" name="name" placeholder="Enter Text"/>
          <svg class="search-svg" width="18" height="18" fill="white">
            <use href="../images/symbol-defs.svg#icon-search"></use>
          </svg>
        </div>

        <div class="input-box">
          
          <label class="filter-form-lable" for="date">Date</label>
          <input class="input-choose input-txt input-date" type="date" id="date" name="date"/>
          <svg class="icon-arrow-down" width="18" height="18" fill="white">
            <use href="../images/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>      
    </form>
  </div>
</section>
