.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-top {
  background-color: var(--main-bg-color);
  padding: 40px 0;
  /* display: flex; */
}

.footer-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.policy-div {
  background-color: var(--main-hover);
  padding: 16px 0;
  text-align: center;
}

.policy-link {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  letter-spacing: 0.02em;
}

.icons-list {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: baseline;
}

.footer-icon {
  fill: var(--main-color);
  /* transition: fill 250ms var(--cubic); */
}

.character-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
}

/* .footer-icon-item-link:hover > .footer-icon,
.footer-icon-item-link:focus > .footer-icon {
  fill: var(--main-hover);
} */

/* .policy-link {
  transition: color 250ms var(--cubic);
} */

/* .policy-link:hover,
.policy-link:focus {
  color: var(--main-hover);
} */

@media screen and (min-width: 767.98px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .links-list {
    flex-direction: row;
    gap: 24px;
  }

  .icons-list {
    gap: 18px;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer-right {
    gap: 62px;
    margin-bottom: 58px;
  }
}
