.footer {
  padding-top: 40px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 140px;
}

.logo-img {
  width: 98px;
  height: 15px;
}

.footer-bottom {
  background-color: var(--main-hover);
  padding: 16px 0;
  text-align: center;
}

.policy-link {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
}

.icons-list {
  display: flex;
  gap: 14px;
}

.footer-icon-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(250, 250, 250, 0.15);
  border-radius: 6px;
}
.footer-icon {
  fill: var(--main-color);
  transition: fill 250ms var(--cubic);
}

.character-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
}

.character-link:hover,
.character-link:focus {
  color: var(--main-hover);
}

.footer-icon-item-link:hover > .footer-icon,
.footer-icon-item-link:focus > .footer-icon {
  fill: var(--main-hover);
}

policy-link {
  transition: color 250ms var(--cubic);
}

.policy-link:hover,
.policy-link:focus {
  color: var(--dark-btn-hover);
}
@media screen and (min-width: 375px) {
  .logo-img {
    width: 98px;
    height: 15px;
  }
  .footer-top {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 767.98px) {
  .footer {
    padding-top: 68px;
  }
  .footer-top {
    margin-bottom: 68px;
  }
}

.logo {
  margin-right: 0;
}

.logo-img {
  width: 200px;
  height: 30px;
}

.footer-bottom {
  padding: 18px 0;
}
.footer-top {
  margin-bottom: 40px;
}


.footer-icon-item-link {

  width: 40px;
  height: 40px;
