/*==============MEDIA REQUEST MOBILE===================*/
@media screen and (min-width: 375px) {
    .hero-section-wrap {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "hero-section-text-card hero-section-text-card" "hero-pagination hero-section-image-wrap";
        gap: 0 14px
    }

    .hero-section-text-card {
        grid-area: hero-section-text-card;
        margin-bottom: 40px;
    }
    .text-card-subtitle {
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
    }

    .text-card-title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 44px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #FAFAFA;
    }

    .text-card-txt {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.2;
        color: #FAFAFA;
    }

    .button {
        padding: 10px 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        background: #34387F;
        border-radius: 1000px;
        border: none;
        color: #FAFAFA;
    }

    .hero-section-image-wrap {
        grid-area: hero-section-image-wrap;
        display: flex;
        flex-direction: column;
    }

    .hero-pagination {
        grid-area: hero-pagination;
    }

    .hero-pagination-item-active {
        width: 4px;
        height: 72px;
        margin-bottom: 14px;
        background: #34387F;
    }

    .hero-pagination-item {
        width: 4px;
        height: 72px;
        margin-bottom: 14px;
        background: rgba(23, 23, 23, 0.8);
    }

    .hero-pagination-item:last-child {
        margin-bottom: 0;
    }

    .image-card-main-img {
        width: 68%;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .container-secondary-card {
        width: 68%;
        margin-left: auto;
        position: relative;
    }
    .secondary-card-gradient {
        position: absolute;
        width: 100%;
        bottom: 28px;
        left: 0;
        background: linear-gradient(180deg, #34387F 36.46%, rgba(52, 56, 127, 0) 100%);
        filter: blur(47px);
        border-radius: 50%;
        z-index: -1;
    }
    .secondary-card-gradient::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .image-card-secondary-img-wrap {
        position: relative;
    }

    .image-card-secondary-img {
        width: 100%;
    }

    .decorate-ellipse {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 12px;
        left: 14px;
        width: 90px;
        height: 90px;
        background: radial-gradient(81.15% 81.15% at 50% 18.85%, #34387F 0%, #171717 100%);
        border-radius: 50%;
    }

    .decorate-ellipse-title {
        width: min-content;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FAFAFA;
    }

    .image-card-link {
        position: absolute;
        bottom: 13px;
        right: 13px;
    }

    .decorate-line {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 0px;
        border: 1px solid rgb(37, 37, 37);
    }

    .decorate-line::before, .decorate-line::after {
        content: '';
        position: absolute;
    }

    .decorate-line::before {
        position: absolute;
        top: 50%;
        left: -1px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3px 0 3px 5px;
        border-color: transparent transparent transparent rgb(37, 37, 37);
        transform: rotate(0deg) translateY(-50%);
    }

    .decorate-line::after {
        position: absolute;
        top: 50%;
        right: -1px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3px 5px 3px 0;
        border-color: transparent rgb(37, 37, 37) transparent transparent;
        transform: rotate(0deg) translateY(-50%);
    }

    .image-card-link {
        background-color: rgba(250, 250, 250, 0.15);
    }

    .image-card-character-description {
        display: flex;
    }

    .image-card-title {
        margin-right: 31px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;    
        letter-spacing: -0.02em;
        color: #FAFAFA;
    }

    .image-card-txt {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.5);
    }
}
/*==============MEDIA REQUEST MOBILE===================*/
/*==============MEDIA REQUEST TABLET===================*/
@media screen and (min-width: 768px) {
    .hero-section-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "hero-section-text-card" "hero-section-image-wrap" "hero-pagination";
    }

    .hero-section-text-card {
        width: 68%;
        margin-bottom: 32px;
    }

    .text-card-subtitle {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .text-card-title {
        font-size: 80px;
        line-height: 1;
    }

    .text-card-txt {
        margin-bottom: 32px;
        font-size: 16px;
    }

    .hero-pagination {
        display: flex;
        justify-content: center;
    }

    .hero-pagination-item-active{
        width: 100px;
        height: 4px;
        margin-right: 14px;
    }

    .hero-pagination-item{
        width: 100px;
        height: 4px;
        margin-right: 14px;
    }

    .hero-pagination-item:last-child {
        margin-right: 0;
    }

    .hero-section-image-wrap {
        flex-direction: row;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 32px;
    }

    .image-card-main-img {
        width: 100%;
        margin-bottom: 0;
    }

    .container-secondary-card {
        width: 100%;
    }

    .decorate-ellipse {
        width: 144px;
        height: 144px;
    }

    .decorate-ellipse-title {
        font-size: 24px;
    }
}
/*==============MEDIA REQUEST TABLET===================*/
/*==============MEDIA REQUEST DESKTOP===================*/
@media screen and (min-width: 1440px) {
    .hero-section-wrap {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "hero-section-text-card hero-pagination hero-section-image-wrap ";
    }

    .hero-section-text-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 0;
    }

    .hero-pagination {
        grid-area: hero-pagination;
        flex-direction: column;
    }

    .hero-pagination-item-active {
        width: 4px;
        height: 72px;
        margin-bottom: 14px;
        background: #34387F;
    }

    .hero-pagination-item {
        width: 4px;
        height: 72px;
        margin-bottom: 14px;
        background: rgba(23, 23, 23, 0.8);
    }

    .hero-pagination-item:last-child {
        margin-bottom: 0;
    }

    .decorate-ellipse {
        width: 144px;
        height: 144px;
    }

    .decorate-ellipse-title {
        font-size: 24px;
    }

}
/*==============MEDIA REQUEST DESKTOP===================*/