html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #000000;
  --main-color: rgb(250, 250, 250);
  --main-hover: #34387f;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}
section {
  background-color: var(--main-bg-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  /* max-width: 100%; */
}
button {
  font-family: inherit;
  cursor: pointer;
}

.hero-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container-modal {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .container-modal {
    max-width: 295px;
  }
}
/* mobile */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .container-modal {
    width: 295px;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .container-modal {
    width: 600px;
    padding: 0 32px;
  }
  .hero-name {
    font-size: 24px;
    line-height: 1;
  }
}
/* десктоп */

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
