/* //===================modal1================== */

.bacground-modal {
  background: rgba(255, 255, 255, 0.6);
  position: fixed;

  width: 100%;
  height: 100vh;
  /* max-height: 100vh; */

  /* cursor: pointer; */
  overflow: scroll;
  top: 0;
  left: 0;

  z-index: 2;
}

.modal-window {
  /* margin: 0; */

  background: var(--main-bg-color);
  position: absolute;
  top: 20px;
  left: 50%;
  bottom: 20px;
  /* margin-right: -50%; */
  transform: translateX(-50%);
  padding-top: 40px;
  /* margin: 0 auto; */
  border-radius: 8px;

  overflow-y: auto;
  /* z-index: 20; */
}

/* //=================================skroll add */

/* //===============skroll end======= */
.close-modal-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  top: 14px;
  right: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--cubic);
}

.close-modal-btn:hover {
  background-color: #242020;
}

.img-modal {
  /* margin: 0 auto; */
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.img-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.img-list-item {
  border-radius: 8px;
  object-fit: cover;
}
.img-list-item-card {
  width: 263px;
  height: 263px;
  object-fit: cover;
}
.black-widow {
  background: #171717;
  border-radius: 8px;
  padding: 32px 16px;
}
.black-widow-info {
  margin-bottom: 16px;
}
.black-widow-info-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 4px;
}
.black-widow-info-data {
  color: rgba(250, 250, 250, 0.5);
  font-size: 14px;
  line-height: 1.28;
}
.black-widow-content {
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 32px;
}
.black-widow-list-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.img-list-item-card {
  margin-bottom: 16px;
  border-radius: 8px;
}
.black-widow-card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 4px;
}
.black-widow-card-description {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(250, 250, 250, 0.5);
}

@media screen and (max-width: 375px) {
  .modal-window {
    width: 90%;
  }
  .img-list-item-card {
    max-width: 100%;
  }
  .img-modal {
    max-width: 100%;
  }
  .img-list-item {
    max-width: 100%;
  }
  .img-list {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 768px) {
  /* .img-modal {
    margin: 0 auto;
  } */
  .black-widow-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  /* .modal-window {
    width: 600px;
  } */
  .close-modal-btn {
    width: 28px;
    height: 28px;
    top: 16px;
    right: 16px;
  }
  .close-modal {
    width: 14px;
    height: 14px;
  }
  .img-info {
    display: flex;
    gap: 8px;
  }
  .img-modal {
    width: 332px;
    object-fit: cover;
  }
  .img-list {
    flex-direction: column;
  }
  .black-widow {
    width: 536px;
  }
  .black-widow-list {
    display: flex;
    gap: 19px;
  }
  .img-list-item-card {
    width: 155px;
    height: 200px;
    object-fit: cover;
  }
  .black-widow-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .black-widow-info-text {
    font-size: 24px;
    line-height: 1;
  }
  .black-widow-content {
    font-size: 16px;
    line-height: 1.125;
  }
  .black-widow-list-text {
    font-size: 24px;
    line-height: 1;
  }
}
@media screen and (min-width: 1440px) {
  .modal-window {
    padding: 64px 0;
  }
  .modal1-content {
    display: flex;
    gap: 16px;
  }
  .black-widow {
    width: 588px;
    height: 514px;
  }
  .img-modal {
    height: 445px;
    margin-bottom: 0;
  }

  .img-info {
    flex-direction: column;
  }
  .img-list {
    flex-direction: row;
  }
  .img-list-item-card {
    width: 174px;
  }
  .black-widow-content {
    height: 55px;
    overflow: hidden;
  }
}
