/* .pagination {
  padding-top: 40px;
}

.pagin_List {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagin_Btn {
  background: #171717;
  border: 1px solid #34387f;
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);

  text-align: center;

  color: #fafafa;
}

.text_Btn {
} */
