/* mobile */
@media screen and (min-width: 375px) {
  .hero-secondary {
    padding-top: 1px;
    padding-bottom: 60px;
    background-image: url(../images/mobile/background-hero-min.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-secondary {
      background-image: url(../images/mobile/background-hero@2x-min.png);
    }
  }
  .hero-secondary-text {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 172px;
    margin-bottom: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
  .hero-secondary-title {
    font-size: 60px;
    margin-bottom: 16px;
    letter-spacing: -0.02em;
  }
  .hero-secondary-subtitle {
    margin-bottom: 65px;
  }
  .back-home-link {
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba(250, 250, 250, 1);
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 1000px;
    position: absolute;
    right: 20px;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .hero-secondary {
    padding-bottom: 74px;
    background-image: url(../images/tablet/background-hero-min.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-secondary {
      background-image: url(../images/tablet/background-hero@2x-min.png);
    }
  }

  .hero-secondary-text {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 212px;
    margin-bottom: 27px;
    color: rgba(255, 255, 255, 0.7);
  }
  .hero-secondary-title {
    font-size: 128px;
    margin-bottom: 16px;
  }
  .hero-secondary-subtitle {
    width: 469px;
    margin-left: 88px;
    margin-bottom: 188px;
  }
  .back-home-link {
    width: 131px;
    height: 42px;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 1);
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 1000px;

    position: absolute;
    right: 32px;
  }
}
/* десктоп */

@media screen and (min-width: 1200px) {
  .hero-secondary-text {
    margin-bottom: 16px;
  }
  .hero-secondary-title {
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 16px;
  }
  .hero-secondary-subtitle {
    width: 436px;
    margin-left: 88px;
    margin-bottom: 145px;
  }
}
