.gallery-link {
  display: block;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 3px 4px 20px rgba(52, 56, 127, 0.4),
    3px 4px 20px rgba(52, 56, 127, 0.8), 3px 4px 20px rgba(52, 56, 127, 0.8);
}
/* 3px 10px 24px 5px rgba(52, 56, 127, 1)*/
.gallery-item {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 36px;
  width: 335px;
  padding-bottom: 4px;
}

.gallery-image {
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 8px;
  width: 100%;
  height: 445px;
}

.hero-name {
  /* color: var(--main-color); */
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.02em;
  padding-left: 2px;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 32px;
  }

  .gallery-item {
    margin-bottom: 0;
    width: 336px;
  }

  .hero-name {
    font-size: 24px;
    line-height: calc(24 / 24);
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    gap: 60px 16px;
  }
  .gallery-item {
    width: 332px;
  }
}
