/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./main.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./section-random.css');
@import url('./footer.css');
@import url('./secondary-hero.css');
@import url('./section-filter.css');
@import url('./section-gallery.css');
@import url('./modal1.css');
@import url('./pagination.css');
